In [10]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:@localhost:3306/test', echo=True)

In [11]:
import pandas as pd
sql = "select * from phone_co"
df1 = pd.read_sql(sql, engine)

2020-09-01 18:15:23,098 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-09-01 18:15:23,110 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 18:15:23,124 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-09-01 18:15:23,125 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 18:15:23,167 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-09-01 18:15:23,168 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 18:15:23,172 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2020-09-01 18:15:23,175 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 18:15:23,191 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-09-01 18:15:23,193 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 18:15:23,197 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-09-01 18:15:23,199 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 18:15:23,203 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2020-09-01 18:15:23,205 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 18:15:23,212 INFO sqlalchemy.engine.base.Engine DESCRIBE `select * from phone_co`
2020-09-01 18:15:23,214 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 18:15:23,242 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-09-01 18:15:23,247 INFO sqlalchemy.engine.base.Engine select * from phone_co
2020-09-01 18:15:23,248 INFO sqlalchemy.engine.base.Engine {}

In [12]:
df1.head()

,id,name,comment,time,sentiment
0,1,MI 小米10 青春版 5G智能手机 哆啦A梦限定款 8GB+256GB,不喜欢水滴头 如果是升降摄像头或者屏下 再加钱我也肯定买,2020-08-31 22:40:06,0.218775
1,2,MI 小米10 青春版 5G智能手机 哆啦A梦限定款 8GB+256GB,那么问题来了，既然是来自未来，机器猫当时为什么没给康夫变一个智能手机[邪恶],2020-08-31 22:40:06,0.998718
2,3,MI 小米10 青春版 5G智能手机 哆啦A梦限定款 8GB+256GB,因为没有基站,2020-08-31 22:40:06,0.500000
3,4,Redmi 红米K30 至尊纪念版 5G智能手机 8GB+512GB 薄荷绿,再抢最后一次，我累了,2020-08-31 22:40:06,0.440023
4,5,MI 小米10 青春版 5G智能手机 哆啦A梦限定款 8GB+256GB,我不带手机壳的嘛？,2020-08-31 22:40:06,0.166394

In [13]:
from snownlp import SnowNLP
def _sentiment(text):
    s = SnowNLP(text)
    return s.sentiments

In [14]:
df1["sentiment"] = df1.comment.apply(_sentiment)

In [15]:
df1.head()

,id,name,comment,time,sentiment
0,1,MI 小米10 青春版 5G智能手机 哆啦A梦限定款 8GB+256GB,不喜欢水滴头 如果是升降摄像头或者屏下 再加钱我也肯定买,2020-08-31 22:40:06,0.218775
1,2,MI 小米10 青春版 5G智能手机 哆啦A梦限定款 8GB+256GB,那么问题来了，既然是来自未来，机器猫当时为什么没给康夫变一个智能手机[邪恶],2020-08-31 22:40:06,0.998718
2,3,MI 小米10 青春版 5G智能手机 哆啦A梦限定款 8GB+256GB,因为没有基站,2020-08-31 22:40:06,0.500000
3,4,Redmi 红米K30 至尊纪念版 5G智能手机 8GB+512GB 薄荷绿,再抢最后一次，我累了,2020-08-31 22:40:06,0.440023
4,5,MI 小米10 青春版 5G智能手机 哆啦A梦限定款 8GB+256GB,我不带手机壳的嘛？,2020-08-31 22:40:06,0.166394

In [16]:
from pymysql import *
# 创建connection连接
conn = connect(host='127.0.0.1', port=3306, database='test', user='root',
                   password='', charset='utf8')
# 获取cursor对象
cs1 = conn.cursor()

In [17]:
for i in range(len(df1)):
    update_sql = "update phone_co set sentiment = " + str(df1["sentiment"][i]) + "where id = " + str(df1["id"][i])
#     print(update_sql)
    cs1.execute(update_sql)

In [18]:
# 提交之前的操作，如果之前已经执行多次的execute，那么就都进行提交
conn.commit()

# 关闭cursor对象
cs1.close()
# 关闭connection对象
conn.close()